
<footer class="page-footer font-small blue fixed-bottom">
  <div class="p-3 mb-2 bg-dark text-white">

    <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'account:signup' %}" class="btn btn-primary btn-lg">Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> Rates.com</a>
  </div>
  <!-- Copyright -->
</div>
</footer>
<!-- Footer -->