<p>
    <a href="{% url 'currency:rate_list' %}">Rate</a><br>
    <a href="{% url 'currency:contact_list' %}">Contact</a><br>
    <a href="{% url 'currency:contactus-create' %}">Contact Us Create</a><br>
    <a href="{% url 'currency:rate_create' %}">Create Rate</a><br>
    <a href="{% url 'currency:source_list' %}">Source List</a><br>
    <a href="{% url 'currency:source_create' %}">Create Source</a><br>
    <a href="{% url 'password_change' %}">Change Password</a><br>

     {% if request.user.is_authenticated %}
        Welcome: {{ request.user.username }}
        <a href="{% url 'currency:profile' %}">My Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'account:signup' %}">Sign Up</a>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

</p>