django==3.2.7
django-extensions
ipython
flake8
flake8-builtins
flake8-print
flake8-import-order
django-debug-toolbar
django-admin-rangefilter
django-import-export
django-silk
django-storages
django-crispy-forms
Celery
requests
beautifulsoup4
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
pytest
pytest-django
pytest-reportlog
pytest-cov
pytest-mock
python-memcached
pymemcache
django-environ
psycopg2
psycopg2-binary
gunicorn
flower
