{% extends 'base.html' %}
{% block content %}
{% block title %} Source {% endblock title %}



<table>
    <tr>
        <th>ID </th>
        <th>SOURCE_URL </th>
        <th>NAME </th>

    </tr>
    {% for item in object_list %}
    <tr>
        <td><p>{{item.id}}</p><a href="{% url 'currency:source_update' item.id %}">Edit </a><a href="{% url 'currency:source_delete' item.id %}"> Delete</a></td>
        <td><p>{{item.source_url}}</p></td>
        <td><p>{{item.name}}</p></td>
        <td><p>{{item.code_name}}</p></td>


    </tr>
    {% endfor %}
    </table>

{% endblock content %}


